- unless @results.nil? || @results == []
  - content_for :jquery do 
    $("#thor_bg").fadeIn("slow")

= haml :"_search"

#results
  %ul
    - unless @results.nil? || @results == []
      - @results.map do |result|
        %li 
          - unless result[:name].urlize == @result
            .res
              - link_to "<span class='seeds'>#{result[:seeds]}</span><span class='name'>#{result[:name]}</span>", result[:magnet]
          - else
            .res.shared
              - link_to "<span class='seeds'>#{result[:seeds]}</span><span class='name'>#{result[:name]}</span>", result[:magnet]
            .fb_share
              - url = "http://#{env.host}/search/#{@query}/#{@result}"
              :plain
                <fb:like href='#{url}' layout='button_count' show_faces='false' send='true' width='150' font='lucida grande'></fb:like>
    - else
      %li
        .no_results No thorrents found. Thor is angry!
            
    .clear